#valuesList {
    list-style-type: circle;
    text-align: left;
}
.valuesImg {
    height: auto;
    width: 100%;
}
.i-history {
    max-height: 425px;
}
@media screen and (max-width: 850px) {
    .history-img {
        text-align: center;
        margin-right: 0;
    }
    .row.d-flex {
        flex-direction: column;
    }
    .row.d-flex .col-5, .row.d-flex .col-7 {
        max-width: 100%;
    }
}
