.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    padding: 17px 20px 0 20px;
}
.card-img-overlay {
    display: none;
    height: 25vw;
}
.card-img-overlay .card-text {
    padding: 7.5px;
}
.card:hover .card-img-overlay {
    background: rgba(255, 255, 255, 0.45);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body .card-title, .card-body .card-text{
    margin: 0;
}
@media screen and (max-width: 800px) {
    .card-img-top {
        height: 35vw;
    }
    .card:hover .card-img-overlay {
        display: none;
    }
}